@import url("./grid.css");
@import url("./fonts.css");

:root {
  --primary-color: #0abead;
  --section-bg: #fff;
  --main-bg: #fff;
  --text-color: #333;
  --transition: all 0.3s linear;
  --box-shadow: 0 0 4rem rgba(4, 195, 255, 16%);
  --orange-color: #f57f17;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  padding-top: 9rem;
  font-size: 1.6rem;
  font-family: "Poppins";
  line-height: 1.5;
  color: var(--text-color);
  overflow-x: hidden;
}
/* 

-- helper classes --

*/
.align-center {
  align-items: center;
}

.skew-reset {
  transform: skewY(6deg);
}

.section-content-links {
  display: flex;
  gap: 2rem;
}

.main-link {
  width: 16rem;
  height: 4rem;
  background-color: var(--primary-color);
  box-shadow: 0 1.5rem 4rem rgba(11, 190, 173, 41%);
  color: #fff;
  font-family: "Poppins-SemiBold";
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.main-link:hover {
  opacity: 0.7;
  transform: scale(0.96);
}

.main-link--orange {
  background-color: var(--orange-color);
  box-shadow: 0 1.5rem 4rem rgba(245, 127, 23, 24%);
}

.main-link--purple {
  background-color: #8540ff;
  box-shadow: 0 1.5rem 4rem rgba(128, 58, 251, 24%);
}

.main-link--pink {
  background-color: #ec407a;
  box-shadow: 0 1.5rem 4rem rgba(245, 39, 108, 24%);
}

.section-header {
  text-align: center;
  padding: 0 0 6rem 0;
}

.section-header__title {
  color: var(--primary-color);
  font-family: "Poppins-Bold";
  font-size: 4rem;
}

.section-header__caption {
  letter-spacing: 0.4rem;
  margin: 0 0 1.5rem 0;
}

.section-header__line {
  display: block;
  width: 20rem;
  height: 0.2rem;
  background-color: var(--primary-color);
  position: relative;
  margin: 0 auto;
}

.section-header__line::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  border-radius: 4rem;
  width: 4rem;
  height: 1rem;
  inset: 0;
  margin: auto;
}
/* 

-- header --

*/
.header {
  background-color: var(--section-bg);
  box-shadow: var(--box-shadow);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.nav__logo {
  font-size: 5.5rem;
  font-family: "Poppins-Black";
}

.nav__logo-link {
  color: var(--primary-color);
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-menu__item {
  position: relative;
}

.nav-menu__link {
  display: inline-block;
  font-size: 1.4rem;
  font-family: "Poppins-Medium";
  color: var(--text-color);
}

.nav-menu__link--active {
  color: var(--primary-color);
}

.nav-menu__link::after,
.nav-menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0.16rem;
  background-color: var(--primary-color);
  transition: var(--transition);
}

.nav-menu__link::before {
  bottom: -0.4rem;
}

.nav-menu__link:hover::after {
  width: 100%;
}

.nav-menu__link:hover::before {
  width: 50%;
}

.nav__mobile-menu-icon {
  cursor: pointer;
  transition: var(--transition);
  width: 4rem;
  height: 4rem;
  display: none;
  justify-content: center;
  align-items: center;
}

.nav__mobile-menu-icon--open .nav__mobile-menu-line {
  background-color: transparent;
}

.nav__mobile-menu-icon--open .nav__mobile-menu-line::after {
  transform: translateY(0.6rem) rotate(45deg);
}

.nav__mobile-menu-icon--open .nav__mobile-menu-line::before {
  transform: translateY(-0.6rem) rotate(-45deg);
}

.nav__mobile-menu-line {
  opacity: 1;
  position: relative;
}

.nav__mobile-menu-line,
.nav__mobile-menu-line::after,
.nav__mobile-menu-line::before {
  background-color: var(--primary-color);
  border-radius: 2rem;
  width: 3rem;
  height: 0.3rem;
  transition: var(--transition);
}

.nav__mobile-menu-line::after,
.nav__mobile-menu-line::before {
  content: "";
  position: absolute;
  bottom: 0.6rem;
}

.nav__mobile-menu-line::before {
  bottom: -0.6rem;
}
/* 

-- main --

*/
.portfolio-section,
.services-section,
.aboutus-section,
.home-section {
  padding-top: 8rem;
}
/* 

-- home section --

*/
.home-section {
  background: url("../assets/images/shapes/header-shape.svg") no-repeat bottom;
  background-size: contain;
  height: 100vh;
}

.home-content__name {
  font-size: 2rem;
  font-family: "Poppins-SemiBold";
  color: var(--primary-color);
  text-wrap: nowrap;
}

.home-content__name--orange {
  color: var(--orange-color);
}

.home-content__title {
  font-size: 4rem;
  color: var(--primary-color);
  font-family: "Poppins-Bold";
}

.home-content__caption {
  margin: 1rem 0 2rem 0;
  opacity: 0.7;
}

.home-avatar {
  width: 50rem;
  height: 50rem;
  border-radius: 100%;
  border: 2rem solid var(--section-bg);
  box-shadow: var(--box-shadow);
  background: url("../assets/images/jpg/header-avatar.jpg") no-repeat center;
  background-size: cover;
}

.home-section__wave {
  position: absolute;
  height: 100%;
  width: 100%;
  fill: var(--primary-color);
  bottom: 0;
}
/* 

-- about us section --

*/
.aboutus-wrapper {
  display: flex;
  box-shadow: var(--box-shadow);
  background-color: var(--section-bg);
  min-height: 50rem;
}

.aboutus-img {
  flex-basis: 48%;
}

.aboutus-img__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutus-contents {
  flex-basis: 52%;
  padding: 4rem 3rem;
}

.aboutus-contents__title {
  color: var(--primary-color);
  font-family: "Poppins-SemiBold";
  font-size: 2.4rem;
}

.aboutus-contents__caption {
  margin: 1rem 0 6rem 0;
  min-width: 20rem;
  max-width: 60rem;
}

.aboutus-contents__list-title {
  color: var(--primary-color);
  font-family: "Poppins-SemiBold";
  font-size: 1.8rem;
}

.aboutus-list {
  padding-left: 1rem;
  margin: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.aboutus-list__list-item {
  position: relative;
  padding-left: 3rem;
}

.aboutus-list__list-item::before {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: var(--orange-color);
}
/* 

-- services section --

*/
.service-box {
  background-color: #8540ff;
  color: #fff;
  height: 34rem;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.service-box--yellow {
  background-color: #ffc50c;
}

.service-box--pink {
  background-color: #ec407a;
}

.service-box--orange {
  background-color: #ff6331;
}

.service-box--blue {
  background-color: #13b6ff;
}

.service-box--green {
  background-color: #49af46;
}

.service-box__icon {
  width: 6.8rem;
  height: 6.8rem;
}

.service-box__title {
  font-family: "Poppins-Bold";
  font-size: 2rem;
  margin: 1rem 0;
}

.service-box__caption {
  text-align: center;
}

.service-box__shape {
  position: absolute;
  bottom: 0;
  fill: #803afb;
  z-index: -1;
}

.service-box__shape--yellow {
  fill: #ffbb01;
}

.service-box__shape--pink {
  fill: #f5276c;
}

.service-box__shape--orange {
  fill: #ff5823;
}

.service-box__shape--blue {
  fill: #03acf8;
}

.service-box__shape--green {
  fill: #49b846;
}
/* 

-- resume section --

*/
.resume-section {
  margin-top: 8rem;
  padding: 8rem 0;
  background-color: var(--section-bg);
  box-shadow: var(--box-shadow);
  transform: skewY(-6deg);
}

.resume-menu {
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  min-height: 41rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2.6rem;
  position: relative;
  z-index: 1;
}

.resume-menu::before {
  content: "";
  position: absolute;
  width: 4rem;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: var(--primary-color);
  z-index: -1;
}

.resume-menu__list-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  padding: 0.8rem 0;
  color: var(--text-color);
  cursor: pointer;
  transition: var(--transition);
  z-index: 2;
}

.resume-menu__list-item:hover {
  transform: translateX(1rem);
}

.resume-menu__list-item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 5rem;
  background-color: var(--primary-color);
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: -1;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
  transition: var(--transition);
}

.resume-menu__list-item--active {
  color: #fff;
}

.resume-menu__list-item--active::before {
  width: 26rem;
}

.resume-menu__list-item-icon {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}

.resume-menu__list-item-text {
  font-family: "Poppins-SemiBold";
}

.resume-content-wrapper {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s linear;
  border-left: 0.2rem solid var(--primary-color);
  padding-left: 2rem;
}

.resume-content-wrapper--visible {
  height: 100%;
  opacity: 1;
  overflow: visible;
}

.resume-content {
  margin-bottom: 2rem;
}

.resume-content:last-child {
  margin-bottom: 0;
}

.resume-content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.resume-content-title__title {
  font-family: "Poppins-SemiBold";
  font-size: 1.8rem;
  color: #ff5823;
  position: relative;
}

.resume-content-title__title::before {
  content: "";
  position: absolute;
  left: -2.9rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--primary-color);
  border-radius: 100%;
}

.resume-content-title__date {
  background-color: var(--orange-color);
  color: #fff;
  padding: 0.5rem 1.2rem;
  border-radius: 4rem;
}

.resume-content__caption-title {
  font-family: "Poppins-SemiBold";
  margin: 1rem 0 0.5rem 0;
}

.resume-content__caption {
  max-width: 64rem;
}
/* 

-- portfolio section --

*/
.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.portfolio-menu__list-item {
  cursor: pointer;
  color: var(--text-color);
  padding: 0.8rem 2rem;
  border-radius: 4rem;
  opacity: 1;
  transition: var(--transition);
}

.portfolio-menu__list-item:hover {
  opacity: 0.6;
}

.portfolio-menu__list-item--active {
  background-color: var(--primary-color);
  color: #fff;
}

.swiper-slide__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: static !important;
  margin-top: 1rem !important;
}

.swiper-pagination-bullet {
  width: 1.6rem !important;
  height: 1.6rem !important;
  border: 0.36rem solid #bfbebe !important;
  background-color: #fff !important;
}

.swiper-pagination-bullet-active {
  border-color: var(--primary-color) !important;
}
/* 

-- pricing section --

*/
.pricing-section {
  margin-top: 8rem;
  padding: 8rem 0;
  transform: skewY(-6deg);
  background-color: var(--section-bg);
  box-shadow: var(--box-shadow);
}

.price-box {
  box-shadow: var(--box-shadow);
}

.price-box__header {
  background-color: #8540ff;
  color: #fff;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.price-box__header--orange {
  background-color: var(--orange-color);
}

.price-box__header--pink {
  background-color: #ec407a;
}

.price-box__title {
  font-family: "Poppins-SemiBold";
  font-size: 2.4rem;
}

.price-box__price {
  font-family: "Poppins-SemiBold";
  font-size: 2rem;
}

.price-box__caption {
  text-wrap: nowrap;
}

.price-box__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: var(--main-bg);
}

.price-box__menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.price-box__list-item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.price-box__list-item-icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--text-color);
}

.price-box__list-item-text {
  text-wrap: nowrap;
}
